# Anmeldung bei Lidl Connect
RUFNUMMER="0XXXXXXXXX"          # RUFNUMMER mit 0 am Anfang
PASSWORD="DEIN_PASSWORT"        # Passwort für die Anmeldung bei Lidl Connect

# Browserwahl: "firefox", "webkit" oder "chromium" (Standard: "chromium")
BROWSER="chromium"

# Telegram-Benachrichtigungen
TELEGRAM_ALLOW=false            # Kann "true" oder "false" sein
TELEGRAM_TOKEN=""               # Token für den Telegram Bot
TELEGRAM_CHAT_ID=""             # Chat-ID für den Telegram Bot

# Discord-Benachrichtigungen
DISCORD_ALLOW=false             # Kann "true" oder "false" sein
DISCORD_WEBHOOK_URL=""          # Webhook-URL für Discord

# Auto-Update des Scripts
AUTO_UPDATE=true                # Kann "true" oder "false" sein

# Schlafmodus: "random", "fixed" oder "smart"
SLEEP_MODE="random"

# Log-Level: "info", "warn" oder "error"
INFOLEVEL="info"
